#full{
height:100%;
width:100%;
}
#main{
height:50%;
width:80%;
float:left;
margin-left:10vw;
margin-top:25vh;
}
#title{
height:25%;
width:99%;
}
#icon{
height:100%;
width:19%;
float:left;
}
#iconpic{
height:100%;
width:100%;
}
#welcome{
height:100%;
width:76%;
margin-left:3%;
float:left;
display:table;
}
#title_text{
display:table-cell;
color:rgb(139,69,19);
font-size:180%;
vertical-align:middle;

}
#form{
height:60%;
width:99%;
margin-top:7%;

}
input[type=email]{
width:99%;
height:30%;
background-color:rgb(255,245,121);
font-size:130%;
border-color:white;
border-top:none;
border-left:none;
}
::-webkit-input-placeholder{
color:white;
}
input[type=password]{
width:99%;
height:30%;
background-color:rgb(255,245,121);
font-size:130%;
border-color:white;
border-top:none;
border-left:none;
}
input[type=button]{
width:99%;
height:28%;
background-color:rgb(141,198,63);
color:white;
font-size:130%;
}
#forget_pwd{
width:100%;
border:none;
background-color:white;
font-size:90%;
text-align:center;
color:rgb(139,69,19);
padding:1.5%;
}
#sign_up{
width:100%;
border:none;
background-color:white;
font-size:90%;
text-align:center;
color:rgb(139,69,19);
padding:1.5%;
}
#aboutus{
width:100%;
border:none;
background-color:white;
font-size:90%;
text-align:center;
color:rgb(139,69,19);
padding:1.5%;
}
