#full{


}
#remainder{
  font-size:10vw;
  margin-top:-32%;
}

#left{
width:43%;
float:left;
margin-left:-45%;
}
#right{
overflow:hidden;

}
#menu_top{
  width:100%;
  height:30vw;
  background-color:rgb(255,228,146);
}
#menu_pic{
  margin-left:10%;
  margin-top:5vw;
  height:20vw;
  width:20vw;
  border-style:solid;
  border-radius:50%;
  border-color:rgba(169,134,80,0.2);
  float:left;
}
#QRcode,#donate{
  float:left;
  margin-top:5vw;
  height:20vw;
  width:70%;
  margin-left:30%;
  border-color:rgba(255,255,255,0);
}
#QRcode_img{
  display:none;
  float:left;
  width:100%;
  height:50%;
}
#barcode2,#donatepic{
  margin-top:5vw;
  width:8vw;
  float:left;
}
#barcode_text,#donate_text{
  margin-top:5vw;
  margin-left:15%;
  font-size:4.5vw;
  float:left;
  width:50%;
}
#options{
  margin-left:50%;
  width:50%;
  float:left;
  display:none;
}
#kid,#sick{
  height:10vw;
}
#kid_agency,#sick_agency{
  width:100%;
  float:left;
  display:none;
}
#topbar{
width:100%;
height:5vw;
margin-top:5%;
}
input[name=menu]
{
width:7%;
float:left;
outline:none;
margin-left:5%;
}
input[name=setting]
{
float:right;
width:5%;
outline:none;
margin-right:5%;
}

input[name=pic]
{
width:24vw;
height:24vw;
float:left;
border-style:solid;
border-color:rgba(169,134,80,0.2);
border-radius:50%;
margin-left:10%;

outline:none;

}
p{
color:rgb(169,134,80);
font-size:4vw;

}
#purpose{

height:50%;
float:left;
margin-left:8%;
margin-top:5%;
}
#profile{
height:20%;
margin-top:5%;

}
#wallet{
height:40%;
margin-top:0%;
text-align:center;
}
#pig{
width:75%;
}

#record_btn{
background-color:rgb(138,163,40);
color:white;
float:right;
border:none;
text-align:center;
width:25%;
height:5%;
margin-right:10%;
margin-top:10%;
outline:none;
}
#record{
width:80%;
float:right;
margin-right:10%;
height:20%;
background-color:rgba(255,245,121,0.4);
}
#img_position{
width:70%;
margin-left:12.5%;
text-align:center;

}
#img_upload{
width:60vw;
height:60vw;
border-radius:50%;
border-style:solid;
border-color:rgba(169,134,80,0.2);
margin-top:10%;

}

#uploadImage{

width:60vw;
height:60vw;
border-radius:50%;
opacity:0;
margin-top:-60vw;
outline:none;
}

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
margin-top:5%;
padding-top: 5vw; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: rgba(255,255,255,0.3);
margin:10%;
width: 80%;
height:80%;
}
.position{
height:65%;
margin-top:25%;
background-color: rgba(169,124,80,0.2);
}
.upload{
background-color:rgb(138,163,40);
color:white;
border:none;
text-align:center;
width:38%;
height:10%;
margin-left:31%;
margin-top:10%;
outline:none;
}




#title_row
{
  height:30%;
}

#date
{
width:10%;
height:100%;
display:inline;
float:left;
font-size:15%;
padding-left:18%;
margin-top:3%;
}

#time
{
width:10%;
height:100%;
display:inline;
float:left;
font-size:15%;
padding-left:18%;
margin-top:3%;
}

#NT
{
width:10%;
height:100%;
display:inline;
float:left;
font-size:15%;
padding-left:23.7%;
margin-top:3%;
}

#title_word_date
{
margin-top:15%;
height:100%;
}

#title_word_time
{
margin-top:15%;
height:100%;
}

#title_word_NT
{
margin-top:15%;
height:100%;
}

#data
{
width:100%;
margin-top:0%;
position:absolute;
margin-top:0%; /* 要看目前的height的大小去乘15後在+5左右 */
height:15%         /* 假設資料很多會上下滑動 */
}

#data_packet
{
height:2%;
margin-top:0%;
}

#data_date
{
width:20%;
display:inline;
float:left;
font-size:13%;
margin-left:9.5%;
}

#data_time
{
width:20%;
display:inline;
float:left;
font-size:13%;
margin-left:7%;
}

#data_NT
{
width:20%;
display:inline;
float:left;
font-size:13%;
margin-left:5.7%;
}

#data_word_date
{
margin-top:0%;
height:100%;
}

#data_word_time
{
margin-top:0%;
height:100%;
}

#data_word_NT
{
margin-top:0%;
height:100%;
}





@media screen and (min-width:320px) and (max-width:360px)
{
#record
{
height:20%;
}

}

@media screen and (min-width:360px) and (max-width:426px)
{
#record
{
height:26%;
}

}



@media screen and (min-width:426px) and (max-width:768px){
#remainder{
  margin-top:-25%;
}
input[name=pic]{
width:18vw;
height:18vw;
}
p{
font-size:2.5vw;
}
#pig{
width:55%;
}
#record_btn{
margin-top:10%;
}
#wallet{
margin-top:5%;
text-align:center;
}
#img_upload{
width:40vw;
height:40vw;

}

#uploadImage{

width:40vw;
height:40vw;
margin-top:-40vw;
}
.position{
height:90%;
margin-top:20%;
}
#img_position{
width:60%;
margin-left:20%;

}


#record
{
height:25%;
}


}
@media screen and (min-width:769px)and (max-width:1024px){

#remainder{
  margin-top:-20%;
}

input[name=pic]{
width:15vw;
height:15vw;
}
p{
font-size:2vw;
}
#record_btn{
margin-top:15%;
}

#profile{
height:25%;

}
#wallet{
margin-top:0%;
text-align:center;
}
#pig{
width:50%;
}
#img_upload{
width:35vw;
height:35vw;

}

#uploadImage{

width:35vw;
height:35vw;
margin-top:-35vw;
}
.position{
height:95%;
margin-top:15%;
}
#img_position{
width:45%;
margin-left:27.5%;

}
.upload{
margin-top:5%;
}


#record
{
height:20%;
}

#title_row
{
  height:33%;
}

#data_NT
{
  margin-left: 6.7%;

}



}
@media screen and (min-width:1025px){
#remainder{
  margin-top:-20%;
}

input[name=pic]{
width:10vw;
height:10vw;
}
#profile{
height:30%;
}
#wallet{
height:55%;
text-align:center;
}
p{
font-size:1.5vw;
}
#purpose{
margin-top:2%;
}
#pig{
width:50%;
}
#record_btn{
margin-top:10%;
}
#img_upload{
width:25vw;
height:25vw;

}

#uploadImage{

width:25vw;
height:25vw;
margin-top:-25vw;
}
.position{
height:100%;
margin-top:10%;
}
#img_position{
width:40%;
margin-left:30%;

}
.upload{
margin-top:2%;
}


#title_row
{
  height:35%;
}

#data_date
{
  margin-left: 10.5%;

}

#data_time
{
  margin-left: 6%;

}


#data_NT
{
  margin-left: 6.7%;

}



}




